*{
    /* border: red solid 1px; */
}
nav{
    background-color: #1E3245;
    width: 90%;
    margin: 0 auto;
}

nav ul{
    color: #ffffff;
    margin: 0 auto;
    width: 80%;
    font-size: 12px;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
}
nav div{
    background-color: #36B9C9;
}

main{
    width: 90%;
    margin: 0 auto;
}

body{
    width: 100%;
    margin: 0 auto;
    line-height: 1;
}
#section{
    width: 70%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#aside{
    width: 30%;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    float: right;
}
.bienvenida{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.button{
    margin-left: 320px;
}

.comunidades{
    text-align: center;
}

.community{
    margin-bottom: 50px;
    width: 80%;
    margin: 0 auto;
}

.comunidades div{
    display: inline-block;
}

.bloques{
    width: 40%;
    margin: 10px;
    background-color: #1E3245;
}

.imgproy{
    width: 45%;
    display: inline-block;
}

.text2{
    width: 50%;
    display: inline-block;
    border: none;
    font-size: 10px;
    
}

.proyectos{
    margin-bottom: 50px;
    width: 80%;
    margin: 0 auto;
}


.imgproy{
    display: inline-block; 
    width: 50%; 
    margin: 0;
}

.divproy{
    width: 50%; 
    margin: 0; 
    float: right;
}

.proyectos_box{
    background-color: #36B9C9;
    margin-bottom: 50px;
    color: #ffffff;
}

.divproy p{
    width: 100%; 
    margin: 0;
}

.box{
    padding: 0;
    line-height: 1;
}

.box div{
    display: inline-block;
}

.imgaside{
    width: 100%;
    display: inherit;
}

.text3{
    width: 100%;
    display: inherit;
    font-size: 9px;
}

form{
    text-align: center;
}

.inscripcion{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #1E3245;
}

footer{
    background-color: #1E3245;
}

.final{
    width: 80%;
    margin: 0 auto;
}

.miniboxim{
    display: inline-block; 
    width: 50%; 
    margin: 0;
}

.miniboxt{
    width: 50%; 
    margin: 0; 
    float: right;
}

.miniboxt h6{
   width: 100%;
   margin: 0 !important;
}

.miniboxt p{
    width: 100%; 
    margin: 0; 
    font-size: 9px;
}

.actualidad_box{
    background-color: #36B9C9;
    margin-bottom: 30px;
    color: #ffffff;     
}
.tags{
    margin: 0 auto;
    width: 80%;
}