#tetx1{
    background-color: rgba(255,255,255,.8) !important;
    display: block !important;
    position: absolute !important;
    bottom: -16px !important;
    left: 0 !important;
    padding: 5px !important;
    width: 100% !important;
    text-align: center;
}